@use "variables";
@use "mixins";

*{
    margin:0;
    padding:0;
}

body{
    font-family:variables.$font-stack;
    background-color:variables.$secondary-color;

    header {
        @include mixins.radial-gradient;

        h1 {
            color:variables.$text-color;
            font-weight:bold;
            font-size:3rem;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover{
        color:#0000ff;
        text-decoration: underline;
    }
}

