@use "variables";
@use "mixins";

body {
    @include mixins.theme;
    @include mixins.radial-gradient;

    header {
        @include mixins.flex-center;
        @include mixins.radial-gradient;
        border:2px solid #4f6d7a;
        color:variables.$text-color;
        justify-content: space-between;
        padding:2rem;

        .header__form {
            display: flex; 
            align-items: center;
            background-color: variables.$secondary-color;
            width: 20%;
            height: 4rem;
            @include mixins.border-style;

            input {
                font-size:15px;
                flex:1;
                background-color:transparent;
                outline:0;
                width:10rem;
                height:2rem;
                padding: 1rem;
                border: none;
            }

            button {
                background-color:transparent;
                border:0;
                height:4rem;
                padding: 1rem;
            }
        }
    }

    header h1 {
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        margin:0;
    }

    .body__nav {
        display:flex;
        gap: 5rem;
        margin:1rem;
        padding: 2rem;
        @include mixins.radial-gradient;
        @include mixins.border-style;
        color:variables.$text-color;
    }

    .body__banner img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        max-width:90%;
    }

    .body__main {
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .body__h2 h2 {
        text-align: center;
        margin-top:1rem;
    }
}

.main__container {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:1rem;
    padding:1.25rem;
}

.container__item {
    background-color:variables.$primary-color;
    color:white;
    padding:3rem;
    @include mixins.border-style;

    &:hover {
        transform: scale(1.1);
    }
}

.importados_container {
    display: flex;
    flex-direction:row;
}

.contacto-container {
    display: flex;
    flex-direction: row;
    background-image:url(../assets/contacto/WhatsApp.svg.webp);
    width:200px;
    height:200px;
}

.main-contacto {
    @include mixins.flex-center;
    justify-content:center;
    section{
        margin-top:3rem;
        article{
            a{
                img{
                    width:200px;
                    height:200px;
                }
            }
        }
    }
}