@use "variables";

@mixin flex-center {
    display:flex;
    align-items:center;
    text-align:center;
}

@mixin theme {
    @if variables.$theme == light{
        background-color:#ffffff;
        color:#000000;
    }
    @else if variables.$theme == dark{
        background-color:#000000;
        color:#ffffff;
        .container__item{
            background-color:#ffffff;
            color: #000000;
        }
    }
}

@mixin border-style {
    border:3px solid #4f6d7a;
    border-radius:2rem;
}

@mixin border-radius { //este mixin nunca lo uso de manera directa si no que lo incuyo en el mixin de arriba
    border-radius:2rem;
}

@mixin radial-gradient {
    background-image:radial-gradient(circle, #000000,variables.$primary-color);
    color:variables.$secondary-color;
}