$primary-color:#2A4494;
$secondary-color:#FFFFFF;
$text-color:#1EA896;

//fuentes

$font-stack:"Roboto",sans-serif;

//theme 

$theme:light;

//arrays

$botones:"btn-1.png", "btn-2.jpeg", "btn-3.jpeg", "btn-4.jpeg", 
"btn-5.jpeg", "btn-6.jpeg", "btn-7.png", "btn-8.png";


$btn-colors: ( //array de tonos azules oscuros
    #0b1e3b, 
    #122b54,
    #183760,
    #1e426c,
    #244d78,
    #2a5984,
    #30658f,
    #356196
          );